<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="../public/css/normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">      
    </head>
    <body>
        <header>
            <div class="header__start">
            <div class="start__logo">
                <img src="../images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="start__search">
                <form class="form__search" action="#" method="POST">
                    <input class="search__bar"type="text" placeholder="Buscar productos,marcas">
                    <button class="search__button"type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <h3 class="start__title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
            </div>
            <nav>
                <ul type="disc" class="header__first-nav">
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul type="disc" class="header__second-nav">
                    <li>
                        <a href="/register">Creá tu cuenta
                        <i class="far fa-id-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/login">Ingresá
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">Mis compras
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div> 
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section> 
        <main class="main__home">
                <h3 class="main__title">Basado en tu última vista</h3>
                <section class="main__last-viewed">
                <article class="product">
                    <div class="productimage">
                        <img src="../images/img-cafetera-moulinex.jpg">
                    </div>
                    <div class="subproduct">
                        <i class="fas fa-solid fa-truck"></i>
                        <div class="subproduct__detail1">
                            <h4 class="price">$6.770</h4>
                            <h4 class="discount">40% OFF</h4>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="productimage">
                        <img src="../images/img-macbook-pro-2019.jpg">
                    </div>
                    <div class="subproduct">
                        <i class="fas fa-solid fa-truck"></i>
                        <div class="subproduct__detail1">
                            <h4 class="price">$230.000</h4>
                            <h4 class="discount">20% OFF</h4>
                        </div>
                        <h4 class="description">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="productimage">
                        <img src="../images/img-samsung-galaxy-s10.jpg">
                    </div>
                    <div class="subproduct">
                        <i class="fas fa-solid fa-truck"></i>
                        <div class="subproduct__detail1">
                            <h3 class="price">$70.500</h3>
                            <h3 class="discount">10% OFF</h3>
                        </div>
                        <h3 class="description">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="product">
                    <div class="productimage">
                        <img src="../images/img-tv-samsung-smart.jpg">
                    </div>
                    <div class="subproduct">
                        <i class="fas fa-solid fa-truck"></i>
                        <div class="subproduct__detail1">
                            <h4 class="price">$23.200</h4>
                            <h4 class="discount">5% OFF</h4>
                        </div>
                        <h4 class="description">SmartTv Samsung 43</h4>
                    </div>
                </article>
            </section>
                <h3 class="main__title">Sección de Ofertas</h3>
                <section class="main__offers">
                <article class="product">
                    <div class="productimage">
                        <img src="../images/img-cafetera-moulinex.jpg">
                    </div>
                    <div class="subproduct">
                        <i class="fas fa-solid fa-truck"></i>
                        <div class="subproduct__detail1">
                            <h4 class="price">$6.770</h4>
                            <h4 class="discount">40% OFF</h4>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="productimage">
                        <img src="../images/img-macbook-pro-2019.jpg">
                    </div>
                    <div class="subproduct">
                        <i class="fas fa-solid fa-truck"></i>
                        <div class="subproduct__detail1">
                            <h4 class="price">$230.000</h4>
                            <h4 class="discount">20% OFF</h4>
                        </div>
                        <h4 class="description">Macbook Pro 2019</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="productimage">
                        <img src="../images/img-samsung-galaxy-s10.jpg">
                    </div>
                    <div class="subproduct">   
                        <i class="fas fa-solid fa-truck"></i>
                        <div class="subproduct__detail1">                 
                            <h4 class="price">$70.500</h4>
                            <h4 class="discount">10% OFF</h4>
                        </div> 
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="product">
                    <div class="productimage">
                        <img src="../images/img-tv-samsung-smart.jpg">
                    </div>
                    <div class="subproduct">
                        <i class="fas fa-solid fa-truck"></i>
                        <div class="subproduct__detail1">
                            <h4 class="price">$23.200</h4>
                            <h4 class="discount">5% OFF</h4>
                        </div>
                        <h4 class="description">SmartTv Samsung 43</h4>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <section class="footer">
            <section class="footer_section">
                <div class="footericon">
                    <i class="fas fa-solid fa-credit-card"></i>
                </div>
               <div class="footertitle">
                    <h3 class="titular2">Pagá con tarjeta o con efectivo</h3>
               </div>
               <div class="footertext">
                    <p class="cuerpodetexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </section>
            <section class="footer_section">
                <div class="footericon">
                    <i class="fas fa-solid fa-gift"></i>
                </div>
                <div class="footertitle">
                     <h3 class="titular2">Envío gratis desde los $2500</h3>
                </div>
                <div class="footertext">
                     <p class="cuerpodetexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                 </div>
             </section>
             <section class="footer_section">
                <div class="footericon">
                    <i class="fas fa-solid fa-user-shield"></i>
                </div>
                <div class="footertitle">
                     <h3 class="titular2">Seguridad de principio a fin</h3>
                </div>
                <div class="footertext">
                     <p class="cuerpodetexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                 </div>
             </section>
            </section>
             <section class="footer_rights">
                <h3> Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
             </section>
        </footer>
    </body>
</html>